* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Slab", serif;
    color: rgb(0, 0, 0, .85);
}

.container {
    width: 800px;
    margin: 0 auto;
}

.header-name {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 4rem;
    
}

.nav-links li {
    display: inline-flex;
    font-size: 1.5rem;
    padding: 0 20px 20px 0px;
    
}

.nav-links a {
    text-decoration: none;
    color: rgb(0, 0, 0, .85)
}

.profile-pic {
    width: 100%;
}

.bio-name,
.bio-position {
    font-family: "Raleway";
    margin: 10px 0;

}


.bio-text {
    color: rgb(0, 0, 0, .75);
    margin: 15px 0;
    line-height: 1.5rem;
}

.bio-name {
    font-size: 2rem;
}

.bio-position {

}